
<div class="row">
	
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

			<%= render 'books/detail', book: @book %>
			<div id="comments_area">
				<%= render 'book_comments/index', book_comments: @book_comments, book: @book %>
			</div>
			<div class="book-text-form">
				<%= form_with(model: [@book, @book_comment]) do |f| %>
				  <%= f.text_area :comment, rows:'5', class:'col-xs-10' %>
				  <%= f.submit '送信', class:'book-btn' %>
				<% end %>
			</div>
	</div>
</div>

